.boja{
    background-color: lightskyblue;
    /* background-color: cornflowerblue; */
}
table{
    margin-left: 10%;
    width: 80%;
    /* border: black 1px solid; */
}

mat-paginator{
    margin-left: 10%;
    width: 80%;
}

table, td{
    padding: 0.5rem;
    border-collapse:collapse;
    text-align: center;
}

tr{
    height: 1rem;
}

img{
    height: 2rem;
}