main{
    margin-top: 3rem;
    margin-bottom: 3rem;
    min-height: 86%;
    width: 80%;
    margin-left: 10%;
    background-color: lightgray;
}
app-header{
    min-height: 10%;
}
app-footer{
    min-height: 4%;
}