<mat-card>
    <a  routerLink="/organizator/approve/users" mat-raised-button color="primary">Odobravanje Registracija Korisnika</a>
    <hr/>
    <a  routerLink="/organizator/add/sports" mat-raised-button color="primary">Dodaj Sportove i Discipline</a>
    <hr/>
    <a  routerLink="/organizator/add/forma" mat-raised-button color="primary">Dodaj Forme</a>
    <hr/>
    <a  routerLink="/organizator/add/takmicenje" mat-raised-button color="primary">Dodaj Takmicenja</a>
    <hr/>
    <a  routerLink="/organizator/complete/takmicenje" mat-raised-button color="primary">Potvrdi Takmicenje</a>
</mat-card>