<div class="addDiscipl">
    <mat-card>
      <div class="loginDeo2">
        <h2>Unesi rezultate {{rundKurzor + 1}}. runde: </h2>
      </div>
      <hr style="height: 2px; background-color: blue; border: none;"/>
      <div class="loginDeo2">
        <h2>Za Igraca {{sportiste[igrKurzor]}}</h2>
      </div>
      <form (submit)="onZavrsiRundu(zavrsiRunduForm)" #zavrsiRunduForm="ngForm">

        <div class="loginDeo2">  
            
            <mat-form-field>
                <input min="0" type="number" matInput ngModel #metri="ngModel" name="metri" placeholder="Metri 1. igraca: ">
                <mat-error>!</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input min="0" max="99" type="number" matInput ngModel #santimetri="ngModel" name="santimetri" placeholder="Santimetri {{igrKurzor+1}}. igraca: ">
                <mat-error>!</mat-error>
            </mat-form-field>
        </div>

        <div class="loginDeo">
          <br>      
          <button mat-raised-button color="warn" type="submit">Zavrsi Rundu</button>
        </div>
      </form>

      <h2 class="message-success">{{message}}</h2>

    </mat-card>
  </div>