<div class="addDiscipl">
  <mat-card>
    <div class="loginDeo2">
      <h2>Unesi Sport: </h2>
    </div>
    <hr style="height: 2px; background-color: blue; border: none;"/>
    <form (submit)="onAddSport(addSportForm)" #addSportForm="ngForm">
      <div class="loginDeo2">  
        <mat-form-field>
          <input type="text" matInput ngModel #ime="ngModel" required name="ime" placeholder="Naziv Sporta" minlength="1">
          <mat-error>Sport Name Missing!</mat-error>
        </mat-form-field>
      </div>
      <div class="loginDeo">
        <br>      
        <button mat-raised-button color="warn" type="submit">Dodaj Sport</button>
      </div>
    </form>
    <br />
    <hr style="height: 2px; background-color: blue; border: none;"/>
    <br />

    <h3 class="message-error">{{message}}</h3>
    <h3 class="message-success">{{message2}}</h3>

    <br />
    <hr style="height: 2px; background-color: blue; border: none;"/>
    <br />
  </mat-card>
</div>



<div class="addDiscipl">
    <mat-card>
      <div class="loginDeo2">
        <h2>Unesi Disciplinu: </h2>
      </div>
      <hr style="height: 2px; background-color: blue; border: none;"/>
      <form (submit)="onAddDisciplina(addDisiplForm)" #addDisiplForm="ngForm">
        <div class="loginDeo2">  
          <mat-form-field>
            <input type="text" matInput ngModel #naziv="ngModel" required name="naziv" placeholder="Naziv Discipline" minlength="1">
            <mat-error>Discipline Name Missing!</mat-error>
          </mat-form-field>
        </div>
        <div class="loginDeo2">
          <mat-form-field appearance="fill">
            <mat-label>Sport: </mat-label>
            <mat-select matInput ngModel #sport="ngModel" required name="sport">
              <mat-option *ngFor="let s of sviSportovi" value="{{s.ime}}">{{s.ime}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="loginDeo2">
          <mat-form-field appearance="fill">
            <mat-label>Tip Sporta: </mat-label>
            <mat-select matInput ngModel #individualni="ngModel" required name="individualni">
              <mat-option value=true>Individualni Sport</mat-option>
              <mat-option value=false>Grupni Sport</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="loginDeo">
          <br>      
          <button mat-raised-button color="warn" type="submit">Dodaj Disciplinu</button>
        </div>
      </form>
    </mat-card>
  </div>